/*common*/
h5 {
    font-weight: 600;
}
h3 {

}
body {
    color: #676a6c;
}

.warp {
    padding:10px;

}

/* BACKGROUNDS */

.gray-bg {
    background-color: #f3f3f4;
}

.white-bg {
    background-color: #ffffff;
}

.navy-bg {
    background-color: #1ab394;
    color: #ffffff;
}

.blue-bg {
    background-color: #1c84c6;
    color: #ffffff;
}

.lazur-bg {
    background-color: #23c6c8;
    color: #ffffff;
}

.yellow-bg {
    background-color: #f8ac59;
    color: #ffffff;
}

.red-bg {
    background-color: #ed5565;
    color: #ffffff;
}

.black-bg {
    background-color: #262626;
}

/*
    box
*/
.box {
    clear: both;
    margin-bottom: 25px;
    margin-top: 0;
    padding: 0; 
}
.box-title {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #e7eaec;
    -webkit-border-image: none;
    -o-border-image: none;
    border-image: none;
    /*border-style: solid solid none;
    border-width: 4px 0px 0;*/
    color: inherit;
    margin-bottom: 0;
   padding: 14px 15px 7px;
    min-height: 48px;
    border-style:none none solid  none;
    border-width: 0 0 1px 0;
}

    .box-title h3 {
        display: inline-block;
        font-size: 20px;
        margin: 0 0 7px;
        padding: 0;
        text-overflow: ellipsis;
        float: left;
    }
.box-tools {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none; 
    border-color: #e7eaec;
    -webkit-border-image: none;
    -o-border-image: none;
    color: inherit;
    margin-bottom: 0;
    padding: 14px 15px 7px;
    min-height: 48px; 
  
}
.box-content {
      clear: both;
    color: inherit;
    padding: 14px 15px 7px;
    border-color: #e7eaec;
    -webkit-border-image: none;
    -o-border-image: none;
    border-image: none; 
}

/*tab*/

.tab-content {
    border-style:solid;
    border-color:#ddd;
    border-width:0 1px 1px 1px;
    border-bottom: 1px solid #ddd;

}
/*空行*/
/*虚线行*/
.hr-line-dashed {
    border-top: 1px dashed #e7eaec;
    color: #ffffff;
    background-color: #ffffff;
    height: 1px;
    margin: 20px 0;
}