<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DbName" value="Test"/>
  </appSettings>
  <connectionStrings>
    <add name="Test" connectionString="Data Source = .;Initial Catalog = Test;User Id = sa;Password = 95938;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>